<%= javascript_pack_tag 'hello_react' %>

<div id="app"></div>



<%= link_to "Export Orders Table", orders_path(format: :csv) %>
<%= link_to "Export Products Table", products_path(format: :csv) %>
<%= link_to "Export Customers Table", customers_path(format: :csv) %>
<%= link_to "Export Promos Table", promos_path(format: :csv) %>