<%= form_with(model: promo, local: true, class: "mb-5") do |form| %>
  <% if promo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(promo.errors.count, "error") %> prohibited this promo from being saved:</h2>

      <ul>
      <% promo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field text-left">
    <%= form.label :amount, :style => "font-weight: bold" %>
    <%= form.text_field :amount, :class => "form-control" %>
  </div>

  <div class="field text-left">
    <%= form.label :limit, :style => "font-weight: bold" %>
    <%= form.text_field :limit, :class => "form-control" %>
  </div>

  <div class="field text-left">
    <%= form.label :expiration, :style => "font-weight: bold" %>
    <%= form.date_field :expiration, :class => "form-control" %>
  </div>

  <div class="field text-left">
    <%= form.label :code, :style => "font-weight: bold" %>
    <%= form.text_field :code, :class => "form-control" %>
  </div>

  <div class="field text-left">
    <%= form.label :percentage, :style => "font-weight: bold" %>
    <%= form.text_field :percentage, :class => "form-control" %>
  </div>

  <div class="field text-left">
    <%= form.label :used, :style => "font-weight: bold" %>
    <%= form.number_field :used, :class => "form-control" %>
  </div>

  <div>
    <%= form.submit :class => "btn btn-success mr-4" %>
    <a class="btn btn-warning" href="/admin">Back</a>
  </div>

<% end %>