<div class="transaction-show">


<p id="notice"><%= notice %></p>
<h1> Transaction Details </h1>
<p>
  <strong>Customer ID</strong>
  <%= @transaction.customer_id %>
</p>

<p>
  <strong>Total Amount:</strong>
  <%= @transaction.total_amount %>
</p>

<p>
  <strong>Promo ID:</strong>
  <%= @transaction.promo_id %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @transaction.firstname %>
</p>

<p>
  <strong>last Name:</strong>
  <%= @transaction.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @transaction.email %>
</p>

<p>
  <strong>Address Line 1:</strong>
  <%= @transaction.address1 %>
</p>

<p>
  <strong>Address Line 2:</strong>
  <%= @transaction.address2 %>
</p>


<p>
  <strong>State:</strong>
  <%= @transaction.state %>
</p>

<p>
  <strong>Postal Code:</strong>
  <%= @transaction.postal_code %>
</p>

<p>
  <strong>Country:</strong>
  <%= @transaction.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @transaction.city %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @transaction.contact %>
</p>

</div>