<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :brand, :style => "font-weight: bold" %>
    <%= form.text_field :brand, :class => "form-control"%>
  </div>

  <div class="field">
    <%= form.label :name, :style => "font-weight: bold" %>
    <%= form.text_field :name, :class => "form-control" %>
  </div>

   <div class="field">
    <%= form.label :img_url, :style => "font-weight: bold" %>
    <%= form.text_field :img_url, :class => "form-control" %>
  </div>


  <div class="field">
    <%= form.label :origin, :style => "font-weight: bold" %>
    <%= form.text_field :origin, :class => "form-control" %>
  </div>

  <div class="field">
    <%= form.label :ingredients, :style => "font-weight: bold" %>
    <%= form.text_area :ingredients, :class => "form-control" %>
  </div>

  <div class="field">
    <%= form.label :desc, :style => "font-weight: bold" %>
    <%= form.text_area :desc, :class => "form-control" %>
  </div>

  <div class="field">
    <%= form.label :price, :style => "font-weight: bold" %>
    <%= form.text_field :price, :class => "form-control" %>
  </div>

  <div class="field">
    <%= form.label :weight, :style => "font-weight: bold" %>
    <%= form.text_field :weight, :class => "form-control" %>
  </div>

  <div>
    <%= form.submit :class => "btn btn-success mr-4" %>
    <a class="btn btn-warning" href="/admin">Back</a>
  </div>

<% end %>